{#
Oy!
You!
Look - you can absolutely change this md if you want, but be careful: this is
used for writing/editing and formatting cards. Screw it up, and you're going to
break those functions.
#}
{%- for block in card.parsed_md.keys_grouped_by_field_md_type() -%}
{%- if block[0].name == "PROPERTY_BLOCK" -%}
---
{% for property_name in block[1] -%}
{{card.parsed_md.meta(property_name).raw_field_name}}: {{card.get_field(property_name)}}
{% endfor -%}
---

{%- endif -%}
{% endfor -%}
