{%- if interactive -%}
    {%- macro md() -%}
        \x1b[32m{{ caller() }}\x1b[39m
    {%- endmacro -%}
    {%- macro bold() -%}
        \x1b[1m{{ caller() }}\x1b[22m
    {%- endmacro -%}
    {%- macro italic() -%}
        \x1b[3m{{ caller() }}\x1b[23m
    {%- endmacro -%}
    {%- macro underline() -%}
        \x1b[4m{{ caller() }}\x1b[24m
    {%- endmacro -%}
    {%- set HEADER = "\x1b[31m" -%}
    {%- set TITLE = "\x1b[36m" -%}
    {%- set RESET = "\x1b[0m" -%}
{%- else -%}
    {%- set HEADER = "" -%}
    {%- set TITLE = "" -%}
    {%- set RESET = "" -%}
    {%- macro md() -%}
        {{ caller() }}
    {%- endmacro -%}
    {%- macro bold() -%}
        {{ caller() }}
    {%- endmacro -%}
    {%- macro italic() -%}
        {{ caller() }}
    {%- endmacro -%}
    {%- macro underline() -%}
        {{ caller() }}
    {%- endmacro -%}
{%- endif -%}
{%- macro card_ref(card) -%}
    {% call bold() %} {{ card.index }} ({{ card.status }}) {% endcall %}
{%- endmacro -%}
---
{{ TITLE }}{{ card.index }}: {{ card.summary | apply_field_macros() }}{{ RESET }}
---
{% for key, value in card.udf.items() -%}
    {% if value is none -%}
    {% elif value is string -%}
        {% if "\n" in value %}
{{ HEADER }}# {{ key }}{{ RESET }}

{{ value | apply_field_macros() }}
        {%- else %}
{{ HEADER }}{{ key }}{{ RESET }}: {{ value }}
        {%- endif -%}
    {%- elif value is number -%}
{{ HEADER }}{{ key }}{{ RESET }}: {{ "%.2f"|format(value) }}
    {%- elif value is list -%}
        {% for item in value %}
- {{ item }}
        {% endfor %}
    {% endif %}
{% endfor %}