{%- macro card_ref(card) -%}
    {{ card.index }} ({{ card.status }})
{%- endmacro -%}
{%- if interactive -%}
    {%- set HEADER = "\033[31m" -%}
    {%- set TITLE = "\033[96m" -%}
    {%- set RESET = "\033[0m" -%}
{%- else -%}
    {%- set HEADER = "" -%}
    {%- set TITLE = "" -%}
    {%- set RESET = "" -%}
{%- endif -%}
---
{{ TITLE }}{{ card.index }}: {{ card.summary | expand_field_str(card_ref) }}{{ RESET }}
---
{% for key, value in card.udf.items() -%}
    {% if value is none -%}
    {% elif value is string -%}
        {% if "\n" in value %}
{{ HEADER }}# {{ key }}{{ RESET }}

{{ value | expand_field_str(value, card_ref) }}
        {%- else %}
{{ HEADER }}{{ key }}{{ RESET }}: {{ value }}
        {%- endif -%}
    {%- elif value is number -%}
{{ HEADER }}{{ key }}{{ RESET }}: {{ "%.2f"|format(value) }}
    {%- elif value is list -%}
        {% for item in value %}
- {{ item }}
        {% endfor %}
    {% endif %}
{% endfor %}